 // VARIABLE

 $white-color: #fff;
 $black-color: #111;
 $primary-color: #737373;
 $secondary-color: #eee;
 
 $size-s :14px;
 $size-m :18px;
 $size-l :24px;
 
 $align-top: top;
 $align-middle: middle;
 $align-bottom: bottom;
 $align-left: left;
 $align-center: center;
 $align-right: right;