/* 노이즈 */
// #app {
//     &:after {
//         content: "";
//         position: fixed;
//         top: -10vw;
//         left: -10vw;
//         z-index: -1;
//         width: calc(100% + 100vw);
//         height: calc(100% + 100vw);
//         background-image: url('@/assets/image/common/noise.png');
//         background-position: 50%;
//         pointer-events: none;
//         animation: noise 1s steps(5) infinite;
//         opacity: .5;
//     }
// }

// .is-active { position: relative;
//     &:before {
//         content: "";
//         position: fixed;
//         top: 0px;
//         left: 0px;
//         z-index: -1;
//         width: 100vw;
//         height: 100vh;
//         transition: .8s cubic-bezier(0.65, 0.05, 0.36, 1);
//     }
// }

/* 커서 */
.cursor {
    position: fixed;
    z-index: 10;
    width: 30px;
    height: 30px;
    border: 1px solid #efc449;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1) translateZ(0px);
    pointer-events: none;
    opacity: 0;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 13px;
        left: 13px;
        width: 3px;
        height: 3px;
        background: #df114f;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
        width: 3px;
        height: 3px;
        background: #df114f;
    }
}
.header-action { position: relative;
    .header-dummy-text {     
        font-size: 110px;
        font-weight: bold;
        font-variation-settings: "wght" 800, "wdth" 125;
        text-align: center;
        transition: .5s ease;
        cursor: pointer;
        &:hover {
            font-variation-settings: "wght" 800, "wdth" 100;
        }
    }
    .header-action-image { position: sticky; }
}
// .clip {
//     path { transform: scale(4); }
//     .clip-image { 
//         width: 698px;
//         height: 832px;
//         background: url('@/assets/image/common/header.jpg') 0 0 no-repeat;
//         clip-path: url(#hart); 
//     }    
// }

/* 레이아웃 스타일 */
.bullet { position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 10px;
        height: 10px;
        background: #f00;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 10px;
        height: 10px;
        background: #f00;
    }
}


/* 헤더 메뉴 */
.menu {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 1px 1px 0px 0px #ddd;
    background: url('@/assets/image/icon/i_menu_open.svg') 0 0 no-repeat;
    transition: .2s ease;
    cursor: pointer;
    &:active { transform: scale(1.3); }
    &.active { box-shadow: 1px 1px 2px 1px #ddd; background: url('@/assets/image/icon/i_menu_close.svg') 0 0 no-repeat; }
}
.menu-view {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: calc(100% - 200px);
    padding: 100px 0px;
    font-variation-settings: "wght" 800, "wdth" 100;
    background: #fff;
    transition: .5s ease;
    justify-content: space-between;
    pointer-events: none;
    gap: 100px;
    opacity: 0;
    &.active { pointer-events: auto; opacity: 1; }
    .marquee-list { display: flex; justify-content: space-between; gap: 100px;
        &.left { animation: 30s marqueeLeft linear infinite; }
        &.right { animation: 5s marqueeRight linear infinite; }
        .list-item { font-size: 150px; }
    }
}

.image-collection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.60417vw;
    .image-wrap { 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;    
        gap: 2.60417vw;
        opacity: 0;
        img { width: 15.625vw; filter: sepia(0.5); }
    }
}