@font-face {
    font-family: studiofeixen-variable;
    src: url('@/assets/font/studio-feixen-sans-variable.woff2') format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: studiofeixen;
    src: url('@/assets/font/StudioFeixenSans-Bold.woff2') format("woff2"),
    url('@/assets/font/StudioFeixenSans-Bold.woff') format("woff");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: studiofeixen;
    src: url('@/assets/font/StudioFeixenSans-Book.woff2') format("woff2"),
    url('@/assets/font/StudioFeixenSans-Book.woff') format("woff");
    font-weight: 350;
    font-style: normal
}

@font-face {
    font-family: studiofeixen;
    src: url('@/assets/font/StudioFeixenSans-Medium.woff2') format("woff2"),
    url('@/assets/font/StudioFeixenSans-Medium.woff') format("woff");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: studiofeixen;
    src: url('@/assets/font/StudioFeixenSans-Regular.woff2') format("woff2"),
    url('@/assets/font/StudioFeixenSans-Regular.woff') format("woff");
    font-weight: 400;
    font-style: normal
}