@font-face {
    font-family: studiofeixen-variable;
    src: url('@/assets/font/studio-feixen-sans-variable.woff2') format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: studiofeixen;
    src: url('@/assets/font/StudioFeixenSans-Bold.woff2') format("woff2"),
    url('@/assets/font/StudioFeixenSans-Bold.woff') format("woff");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: studiofeixen;
    src: url('@/assets/font/StudioFeixenSans-Book.woff2') format("woff2"),
    url('@/assets/font/StudioFeixenSans-Book.woff') format("woff");
    font-weight: 350;
    font-style: normal
}

@font-face {
    font-family: studiofeixen;
    src: url('@/assets/font/StudioFeixenSans-Medium.woff2') format("woff2"),
    url('@/assets/font/StudioFeixenSans-Medium.woff') format("woff");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: studiofeixen;
    src: url('@/assets/font/StudioFeixenSans-Regular.woff2') format("woff2"),
    url('@/assets/font/StudioFeixenSans-Regular.woff') format("woff");
    font-weight: 400;
    font-style: normal
}

/* 노이즈 */
.container {
    &:before {
        content: "";
        position: fixed;
        top: -10vw;
        left: -10vw;
        z-index: -1;
        width: calc(100% + 100vw);
        height: calc(100% + 100vw);
        background-image: url('@/assets/image/common/noise.png');
        background-position: 50%;
        pointer-events: none;
        animation: noise 1s steps(5) infinite;
        opacity: .5;
    }
}

/* 페이지 전환 */
.is-active { position: relative; animation: is-active 1s forwards; 
    // &:after { 
    //     content: '';
    //     position: absolute;
    //     top: 0px;
    //     left: 0px;
    //     width: 100%;
    //     height: 100%;
    //     background: #fff;
    // }
}