@font-face {
    font-family: studiofeixen-variable;
    src: url('@/assets/font/studio-feixen-sans-variable.woff2') format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: studiofeixen;
    src: url('@/assets/font/StudioFeixenSans-Bold.woff2') format("woff2"),
    url('@/assets/font/StudioFeixenSans-Bold.woff') format("woff");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: studiofeixen;
    src: url('@/assets/font/StudioFeixenSans-Book.woff2') format("woff2"),
    url('@/assets/font/StudioFeixenSans-Book.woff') format("woff");
    font-weight: 350;
    font-style: normal
}

@font-face {
    font-family: studiofeixen;
    src: url('@/assets/font/StudioFeixenSans-Medium.woff2') format("woff2"),
    url('@/assets/font/StudioFeixenSans-Medium.woff') format("woff");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: studiofeixen;
    src: url('@/assets/font/StudioFeixenSans-Regular.woff2') format("woff2"),
    url('@/assets/font/StudioFeixenSans-Regular.woff') format("woff");
    font-weight: 400;
    font-style: normal
}

@keyframes noise {
    0% {
        transform: translate3d(0, 9rem, 0)
    }

    10% {
        transform: translate3d(-1rem, -4rem, 0)
    }

    20% {
        transform: translate3d(-8rem, 2rem, 0)
    }

    30% {
        transform: translate3d(9rem, -9rem, 0)
    }

    40% {
        transform: translate3d(-2rem, 7rem, 0)
    }

    50% {
        transform: translate3d(-9rem, -4rem, 0)
    }

    60% {
        transform: translate3d(2rem, 6rem, 0)
    }

    70% {
        transform: translate3d(7rem, -8rem, 0)
    }

    80% {
        transform: translate3d(-9rem, 1rem, 0)
    }

    90% {
        transform: translate3d(6rem, -5rem, 0)
    }

    to {
        transform: translate3d(-7rem, 0, 0)
    }
}

@keyframes is-active {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes frontAge {
    from {
        transform: translateY(75%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes backAge {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(75%);
    }
}
